@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lobby</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
<div class="login-container">
    <h2>Welcome to the Lobby!</h2>
    <p>You're logged in!</p>
</div>
</body>
</html>